.main-container-page-with-footer__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
}

.main-container-page-with-footer__content {
  flex: 1 0 auto;
}

.main-container-page-with-footer__body {
  height: 100%;
  display: flex;
  background: #111d39;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-container-page-with-footer__footer {
  flex: 0 0 auto;
}